.container {
  padding: 8px 22px;
  background-color: white;
  color: #5383ec;
  border: 1px solid #d0d5dd;
  margin-right: 18px;
  border-radius: 4px;
  border: 1px solid var(--neutral-200, #d0d5dd);
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

.container:hover {
  background-color: #f5f7fa;
  border-color: #c4cdd5;
}

.active {
  background-color: #5383ec;
  color: white;
  border-color: #5383ec;
}

.active:hover {
  background-color: #5383ec;
  border-color: #5383ec;
}
