/* BlocksPage.module.css */

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #111314;
  z-index: 100;
}

.block {
  position: relative; /* Ensure this is set to relative */
  margin: 0;
  padding: 0;
}

.activeBlock {
  background-color: #d7f3f5;
  margin: 0;
  padding: 0;
  /* transition: background-color 0.3s; Smooth transition for color change */
}

.cornerBottomRight::before {
  content: "";
  position: absolute;
  width: 10px; /* Assume a fixed size for simplicity */
  height: 10px;
  background-color: var(--block-color);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  right: 0;
  bottom: 0;
}

.cornerTopLeft::before {
  content: "";
  position: absolute;
  width: 10px; /* Assume a fixed size for simplicity */
  height: 10px;
  background-color: var(--block-color);
  clip-path: polygon(0 100%, 100% 0, 0 0);
  left: 0;
  top: 0;
}

.settingsPanel {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  z-index: 1000;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  font-family: "Arial", sans-serif; /* Set a nice font */
  width: 400px; /* Set a fixed width */
}

.settingsPanel.minimized {
  max-height: 0px;
  padding: 0;
  margin-top: -20px;
}

.settingsContent {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add some space between the setting items */
}

.settingItem {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align the label and input */
}

.settingItem label {
  width: 150px;
}

.settingsContent button {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fafafa;
  cursor: pointer;
}

.settingsContent button:hover {
  background-color: #eee;
}
