/* BlocksPage.module.css */
.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
  gap: 2px;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.block {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s; /* Smooth transition for color change */
}

.activeBlock {
  background-color: blue;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s; /* Smooth transition for color change */
}
