.container {
  display: grid;
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 100;
  grid-auto-rows: 1fr;
}

.block {
  aspect-ratio: 1 / 1;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #eee; /* Set a default background color */
}

.activeBlock {
  aspect-ratio: 1 / 1;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #eee; /* Set a default background color */
  transition: background-color 0.3s;
}

.settingsPanel {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  z-index: 1000;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  font-family: "Arial", sans-serif;
  width: 400px;
}

.settingsPanel.minimized {
  max-height: 0px;
  padding: 0;
  margin-top: -20px;
}

.settingsContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settingItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingItem label {
  width: 150px;
}

.settingsContent button {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fafafa;
  cursor: pointer;
}

.settingsContent button:hover {
  background-color: #eee;
}
